name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: cyber-vibe
          outputs: |
            output/github-contribution-grid-snake.svg

      - name: Commit Snake
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update contribution snake"
